@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: "Plus Jakarta Sans";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-slot='label'] {
  @apply font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-blueGrayTitles;
}

span {
  @apply text-darkBlueFont;
}
