@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-width-desktop: 17vw;
  --layout-width-nosidebar-desktop: 83vw;
}

body {
  font-family: 'Plus Jakarta Sans';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-slot='label'] {
  @apply font-bold;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-blueGrayTitles;
}

span {
  @apply text-darkBlueFont;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Styles for download  */
.download-markdown strong {
  @apply text-primary;
}

.download-markdown strong:hover {
  @apply text-darkBlueFont;
}

html, body, #__next {
  height: 100%;
}

.sidebarWidth {
  @media screen and (min-width: 1024px) {
    width: var(--sidebar-width-desktop) !important;
  }
}

.layoutWidthDesktop {
  @media screen and (min-width: 1024px) {
    width: 100%;
    padding-left: var(--sidebar-width-desktop);
  }
}

.formStepsWidth {
  @media screen and (min-width: 1024px) {
    /* new post-job slider width */
    max-width: calc(100vw - (var(--sidebar-width-desktop) + 1vw));
    scrollbar-gutter: stable both-edges;
  }
}